<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Products_Managment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Products_Managment.Properties.Settings.product_DBConnectionString"
      connectionString="Data Source=MOHAMED-PC;Initial Catalog=product_DB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <userSettings>
    <Products_Managment.Properties.Settings>
      <setting name="servername" serializeAs="String">
        <value>(localdb)\V11.0</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value>product_DB</value>
      </setting>
      <setting name="mode" serializeAs="String">
        <value>sql</value>
      </setting>
      <setting name="name" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="if_first_time" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="user_name" serializeAs="String">
        <value>C:\Users\mohamed\Desktop\product_managments.ism</value>
      </setting>
    </Products_Managment.Properties.Settings>
  </userSettings>
</configuration>